.icon {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../../img/outreach.jpg);
  background-size: cover;
  background-position: center;
  width: 95vw;
  height: 50vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  .icon {
    height: 25vw;
    width: 40vw;
  }
}
