.icon {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 95vw;
  height: 50vh;
  display: block;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  .icon {
    height: 25vw;
    width: 40vw;
  }
}

.about {
  composes: icon;
  background-image: url(../../../img/about.jpg);
}

.outreach {
  composes: icon;
  background-image: url(../../../img/outreach.jpg);
}

.photography {
  composes: icon;
  background-image: url(../../../img/photography.jpg);
}

.research {
  composes: icon;
  background-image: url(../../../img/research.jpg);
}
